<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login and Registration</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app_name/css/styles.css' %}">
</head>

<body>
    <div class="container success">
        <h1 class="text-center">Login and Registration</h1>
        <div class="row">
            <div class="col-md-6 registerdiv">
                <h4>Register for an account:</h4>
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{ request.session.first_name }}">
                        <p></p>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{ request.session.last_name }}">
                        <p></p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" name="email" placeholder="Email Address" value={{ request.session.email }}>
                        <p></p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password:</label>
                        <input type="password" class="form-control" name="confirm_password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn">
                    </div>
                </form>
            </div>
            <div class="registerdiv col-md-6 ">
                <h4>Login:</h4>
                <div class="form-group">
                    <form action="/login" method="post">
                        {% csrf_token %}
                        <label for="login_email">Email:</label>
                        <input type="text" class="form-control" name="login_email" placeholder="Email Address" value={{request.session.login_email}}>
                        <div class="form-group">
                            <label for="login_password">Password:</label>
                            <input type="password" class="form-control" name="login_password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn">
                        </div>
                        {% if messages %}
                        <h3>Oops!</h3>
                        <p>There was a problem with the form:</p>
                        {% for i in messages %}
                        <ul>
                            <li>{{ i }}</li>
                        </ul>
                        {% endfor %}
                         {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

</html>